@font-face {
    font-family: 'BattlesbridgeDemoRegular';
    src: url('BattlesbridgeDemoRegular.ttf');
}
/* Assuming .pole is a child of the body */
body {
    font-family: 'Roboto' !important;
    text-align: center;
    margin: 0px;
}

.title img {
    height: 110px;
}


.navbar a {
    color: black !important;
    text-decoration:none !important;
}

.navbar {
    text-align: left;
    background-color: #ffffff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar ul{
    margin-top: 0px;
    margin-bottom: 0px;
}


.navbar input,h4{
    position: relative;
    bottom: 40px;
}
.navbar li{
    display: inline-block;
    margin-left: 20px;

}

.navbar input{
    margin-left:30vh;
    width: 300px;
    padding: 9px;
    border: 0px;
    border-bottom: 1px solid black;
    position: relative;
        transition: transform 0.2s ease-in-out;
}

.navbar input:hover,
.navbar input:focus{
    outline: none;
    transform: scale(1.02);
}

#buttonNav {
    margin-top: 10px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.13); 
    transition: all 0.3s ease;
    background-color: rgb(58, 58, 133);
    position: relative;
    position: relative;
    bottom: 45px;
}


#buttonNav:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transform: scale(1.04);
    cursor:pointer;
  }
  