@font-face {
    font-family: 'BattlesbridgeDemoRegular';
    src: url('../BattlesbridgeDemoRegular.ttf');
}
/* Assuming .pole is a child of the body */
body {
    font-family: 'Roboto';
    text-align: center;
    margin: 0px;   
    background-color: #222831; 
}

h1, a {
    color: #EEEEEE;
    text-decoration:none !important;

}

.bg {
    z-index: -1;
    position: absolute;
    background-image: url(bg.jpg);
    height: 150vh;
    width: 900px;
    bottom: -300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.login {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 240px;
    left: 125vh;
    opacity: 0;



}

.register {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 50px;
    left: 125vh;
    opacity: 0;

}




.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.input-container input {
    padding: 8px;
    width: 450px; 
    height: 25px;
    margin-bottom: 15px;
    border: 0px;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
    background-color: #393e46;
    color: #EEEEEE;

}
.input-container input::placeholder {
    color: #EEEEEE;

}
.input-container input:focus,
.input-container input:hover {
    outline: none;
    transform: scale(1.05);
}


button {
    margin-top: 50px;
    padding: 15px;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    color: #EEEEEE;
    border: 1px solid rgba(0, 0, 0, 0.13); 
    transition: all 0.3s ease;
    background-color: #393e46
}

button:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #FD7014;
    transform: scale(1.04);
    cursor:pointer;
}

.forgot-password {
    position: absolute;
    bottom: 96px;
    right: 0px;
}

.create-account {
    position: absolute;
    bottom: 96px;
    left: 0px;
}

.login-account {
    position: absolute;
    bottom: -2em;
}

/* .login-account a{
    color: rgba(20, 19, 19, 0.753);

} */


/* .forgot-password a, .create-account a{
    color: rgba(20, 19, 19, 0.753);
    
} */

.forgot-password a:hover, .create-account a:hover{
    color: #FD7014
}


#succes{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: rgba(18, 145, 35, 0.342);
    height: 25px;
    padding: 20px;
    width: 300px;
    border-radius: 25px;
    margin-left: 1225px;
    margin-top: 100px;
    visibility: hidden;
}

