html, body {
  margin: 0;
  height: 100%;
  background-color: #222831 ;
}

table {
  background-color: #393e46 !important; 
  color: white !important;
}

table th{
  color: #FD7014 !important;
}

#buttons {
  text-align: center;
}