html, body {
  margin: 0;
  height: 100%;
  background-color: #222831 ;
}

#Tableau {
  background-color: #393e46; 
  color: white !important;
}

#Tableau th{
  color: #FD7014 !important;
}

#buttons {
  text-align: center;
}

#buttons button:hover {
  background-color: #FD7014;

}

#AnnulerButton:hover {
  background-color: #ff0000 !important;
}

a span:hover{
  background-color: #FD7014;
}
